params {
    // Input/Output parameters
    reads = "$baseDir/data/reads"
    reference = "$baseDir/data/reference/genome.fasta"
    outdir = "$baseDir/results"
    
    // Tool binary paths (absolute paths)
    fastp = "/home/Divya/miniconda3/bin/fastp"         
    fastqc = "/home/Divya/miniconda3/bin/fastqc"        
    bwa = "/home/Divya/miniconda3/bin/bwa"              
    samtools = "/home/Divya/miniconda3/bin/samtools"    
    bcftools = "/home/Divya/miniconda3/bin/bcftools"    
}
